@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
}

.text-white {
  color: #fff;
}

.navbar {
  background-color: #0e0e0e;
}
.navbar .navbar-brand {
  border-bottom: solid 2px transparent;
  font-size: 2.5rem;
}
.navbar .navbar-brand:hover {
  color: #fdad00;
  border-bottom: solid 2px transparent;
}
.navbar .navbar-brand:hover span {
  color: #fff;
}
.navbar .nav-link:focus {
  color: #fff;
}
.navbar .dropdown-menu {
  background-color: #363461;
  border: solid 1px #fdad00;
}
.navbar .dropdown-menu .dropdown-item {
  width: fit-content;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.navbar .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  color: #fff;
}
.navbar ul {
  justify-content: right;
}
.navbar li {
  padding: 0.5rem;
}
.navbar a {
  padding: 0 !important;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
  color: #fff;
  font-family: "Ubuntu";
  border-bottom: solid 2px transparent;
}
.navbar a span {
  color: #fdad00;
}
.navbar a:hover {
  border-bottom: solid 2px #fdad00;
  color: #fff;
}
.navbar .navbar-toggler i {
  color: #fff;
}

header {
  border-bottom: solid 2px #5249ff8e;
}
header img {
  width: 100%;
  max-width: 1440px;
  padding: 50px;
}

main {
  margin-top: 100px;
}
main section {
  margin-bottom: 200px;
}
@media screen and (max-width: 992px) {
  main section {
    margin-bottom: 80px;
  }
}
main svg {
  max-height: 350px;
  height: auto;
  max-width: 450px;
  width: 100%;
  min-width: 225px;
}
@media screen and (max-width: 576px) {
  main svg {
    width: 50%;
  }
}
main h2 {
  font-weight: 600;
  font-family: "Tajawal";
  font-size: 45px;
  color: #fdad00;
  position: absolute;
  top: 0;
  left: 12px;
}
@media screen and (max-width: 992px) {
  main h2 {
    position: static !important;
    left: 0;
    right: 0;
  }
}
main #strategy-h2 {
  right: 12px;
}
main p {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 400;
}
main button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  box-shadow: inset 0 0 0 2px #fdad00;
  color: #fdad00;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  font-family: "Poppins";
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 12px;
}
@media screen and (max-width: 992px) {
  main button {
    position: relative;
    left: 0;
    right: 0;
  }
}
main #strategy-button {
  right: 12px;
  left: unset;
}
@media screen and (max-width: 992px) {
  main #strategy-button {
    right: 0;
  }
}
main button::before,
main button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
}
main .draw {
  transition: color 0.25s;
}
main .draw::before,
main .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
main .draw::before {
  top: 0;
  left: 0;
}
main .draw::after {
  bottom: 0;
  right: 0;
}
main .draw:hover::before,
main .draw:hover::after {
  width: 100%;
  height: 100%;
}
main .draw:hover::before {
  border-top-color: #6c63ff;
  border-right-color: #6c63ff;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
main .draw:hover::after {
  border-bottom-color: #6c63ff;
  border-left-color: #6c63ff;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
main .meet:hover {
  color: #6c63ff;
}
main .meet::after {
  top: 0;
  left: 0;
}
main .meet:hover::before {
  border-top-color: #6c63ff;
  border-right-color: #6c63ff;
}
main .meet:hover::after {
  border-bottom-color: #6c63ff;
  border-left-color: #6c63ff;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

footer {
  border-top: solid 2px #5249ff8e;
  padding: 20px 0;
  color: #fff;
  font-family: "Poppins";
}
footer p {
  font-weight: 200;
}
footer span {
  font-weight: 100;
  font-size: 12px;
}
footer ul {
  list-style: none;
  margin: 0;
}
footer ul li {
  display: inline;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer .social-links li {
  display: inline;
}
footer .social-links li:hover {
  opacity: 0.7;
}
footer .social-links i {
  font-size: 20px;
  padding: 5px;
  border-radius: 20%;
}
footer .social-links .fa-facebook {
  background: #3B5998;
  color: white;
}
footer .social-links .fa-twitter {
  background: #55ACEE;
  color: white;
}
footer .social-links .fa-youtube {
  background: #bb0000;
  color: white;
}
footer .social-links .fa-instagram {
  background: linear-gradient(90deg, #f2bd5c 0%, #d02674 35%, #5155c8 100%);
  color: white;
}
footer .footer-links {
  font-family: "Ubuntu";
  font-weight: 100;
  font-size: 15px;
}
footer .footer-links li a:hover {
  color: #fdad00;
}

/*# sourceMappingURL=style.css.map */
