@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='4000' height='8000' preserveAspectRatio='none' viewBox='0 0 4000 8000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1103%26quot%3b)' fill='none'%3e%3crect width='4000' height='8000' x='0' y='0' fill='rgba(14%2c 14%2c 14%2c 1)'%3e%3c/rect%3e%3cpath d='M1474.138%2c7333.996C1716.503%2c7337.317%2c1981.195%2c7300.752%2c2109.033%2c7094.816C2242.176%2c6880.334%2c2187.645%2c6607.812%2c2060.203%2c6389.895C1934.158%2c6174.367%2c1723.816%2c6008.584%2c1474.138%2c6009.192C1225.376%2c6009.798%2c1015.627%2c6176.3%2c892.999%2c6392.738C772.269%2c6605.824%2c740.016%2c6869.43%2c868.679%2c7077.822C992.07%2c7277.675%2c1239.285%2c7330.778%2c1474.138%2c7333.996' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1365.448%2c5512.821C1755.058%2c5525.402%2c2168.234%2c5403.246%2c2359.869%2c5063.79C2549.146%2c4728.512%2c2444.827%2c4309.16%2c2222.356%2c3994.924C2032.366%2c3726.567%2c1694.176%2c3666.192%2c1365.448%2c3659.19C1019.179%2c3651.815%2c634.001%2c3668.173%2c442.891%2c3957.022C236.593%2c4268.827%2c285.674%2c4681.386%2c476.367%2c5002.971C663.126%2c5317.922%2c999.479%2c5501.004%2c1365.448%2c5512.821' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1817.406%2c2407.37C2102.13%2c2398.843%2c2359.472%2c2248.474%2c2504.879%2c2003.53C2653.559%2c1753.074%2c2684.546%2c1442.286%2c2540.64%2c1189.057C2395.156%2c933.051%2c2111.847%2c790.685%2c1817.406%2c793.793C1528.392%2c796.844%2c1270.407%2c957.153%2c1120.141%2c1204.051C963.106%2c1462.07%2c903.271%2c1785.617%2c1054.707%2c2046.961C1205.806%2c2307.724%2c1516.164%2c2416.392%2c1817.406%2c2407.37' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M2955.148%2c1575.574C3258.554%2c1562.178%2c3484.961%2c1328.091%2c3633.408%2c1063.141C3777.801%2c805.426%2c3842.271%2c500.255%2c3703.847%2c239.285C3557.189%2c-37.209%2c3268.119%2c-218.118%2c2955.148%2c-215.584C2646.192%2c-213.082%2c2383.849%2c-15.044%2c2227.16%2c251.243C2067.903%2c521.895%2c2013.284%2c852.8%2c2164.559%2c1127.994C2320.912%2c1412.426%2c2630.891%2c1589.891%2c2955.148%2c1575.574' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M106.278%2c3347.583C242.076%2c3350.567%2c366.501%2c3269.081%2c430.734%2c3149.397C491.766%2c3035.677%2c468.573%2c2901.906%2c406.069%2c2788.988C341.138%2c2671.685%2c240.351%2c2563.907%2c106.278%2c2563.242C-28.648%2c2562.573%2c-135.965%2c2666.535%2c-198.708%2c2785.988C-256.804%2c2896.594%2c-254.01%2c3025.871%2c-194.386%2c3135.661C-131.668%2c3251.148%2c-25.108%2c3344.696%2c106.278%2c3347.583' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M143.257%2c3096.634C342.675%2c3091.68%2c507.306%2c2964.289%2c613.328%2c2795.317C728.015%2c2612.535%2c814.089%2c2385.781%2c706.733%2c2198.599C599.027%2c2010.806%2c359.74%2c1974.359%2c143.257%2c1975.716C-70.158%2c1977.054%2c-297.366%2c2023.153%2c-408.112%2c2205.589C-522.196%2c2393.524%2c-484.773%2c2632.77%2c-369.088%2c2819.724C-259.604%2c2996.657%2c-64.746%2c3101.802%2c143.257%2c3096.634' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M3092.573%2c6622.208C3383.104%2c6621.85%2c3687.324%2c6551.962%2c3841.723%2c6305.854C4004.609%2c6046.218%2c3993.823%2c5706.579%2c3829.205%2c5448.037C3675.191%2c5206.149%2c3379.259%2c5122.825%2c3092.573%2c5129.269C2818.852%2c5135.422%2c2558.48%2c5249.143%2c2411.149%2c5479.912C2251.422%2c5730.098%2c2188.151%2c6052.79%2c2340.217%2c6307.705C2489.468%2c6557.901%2c2801.242%2c6622.567%2c3092.573%2c6622.208' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M4386.571%2c4521.282C4711.577%2c4512.855%2c4931.413%2c4230.291%2c5093.824%2c3948.649C5256.037%2c3667.351%2c5383.653%2c3339.195%2c5234.584%2c3050.716C5075.508%2c2742.871%2c4733.085%2c2578.881%2c4386.571%2c2579.967C4041.985%2c2581.047%2c3713.759%2c2754.059%2c3547.717%2c3056.004C3387.045%2c3348.183%2c3447.138%2c3697.674%2c3612.803%2c3987.051C3779.703%2c4278.585%2c4050.756%2c4529.99%2c4386.571%2c4521.282' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M700.863%2c7079.938C887.376%2c7065.687%2c1018.552%2c6921.174%2c1116.906%2c6762.062C1222.65%2c6590.995%2c1328.052%2c6391.62%2c1237.272%2c6212.164C1140.241%2c6020.351%2c915.558%2c5928.967%2c700.863%2c5939.619C503.068%2c5949.432%2c352.006%2c6091.825%2c249.349%2c6261.178C141.676%2c6438.805%2c57.597%2c6653.449%2c157.902%2c6835.338C260.642%2c7021.643%2c488.725%2c7096.147%2c700.863%2c7079.938' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M938.126%2c4972.69C1267.611%2c4955.35%2c1530.161%2c4719.503%2c1683.41%2c4427.311C1825.143%2c4157.075%2c1827.987%2c3835.587%2c1672.097%2c3573.263C1519.528%2c3316.527%2c1236.643%2c3182.02%2c938.126%2c3173.185C621.333%2c3163.809%2c300.798%2c3263.871%2c124.838%2c3527.469C-71.435%2c3821.498%2c-130.032%2c4205.538%2c43.342%2c4513.625C219.547%2c4826.743%2c579.331%2c4991.573%2c938.126%2c4972.69' fill='rgba(82%2c 73%2c 255%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1103'%3e%3crect width='4000' height='8000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.text-white {
  color: #fff;
}

.text-yellow {
  color: #fdad00;
}

.text-blue {
  color: #6c63ff;
}

.text-purple {
  color: #5249ff8e;
}

.ubuntu {
  font-family: "Ubuntu";
}

.poppins {
  font-family: "Poppins";
}

.tajawal {
  font-family: "Tajawal";
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.hr {
  border-bottom: solid 5px #6c63ff;
  opacity: 1;
  width: 50%;
  margin: -50px auto 75px auto;
}

.contact-icon {
  position: fixed;
  color: #fff;
  font-size: 40px;
  bottom: 20px;
  right: 30px;
  border: solid 3px #5249ff8e;
  padding: 10px;
  border-radius: 100%;
  z-index: 1;
  background-color: #0e0e0e;
}
.contact-icon:hover {
  color: #fdad00;
  cursor: pointer;
}

.modal-contact {
  background-color: #191729;
  border: solid 3px #6c63ff;
}
.modal-contact h5 {
  font-weight: 600;
  font-size: 25px;
}
.modal-contact i {
  font-size: 30px;
  transition: all 0.2s;
}
.modal-contact i:hover {
  color: #df4759;
}
.modal-contact input:focus, .modal-contact textarea:focus {
  box-shadow: 0 0 0 2px #6c63ff;
}
.modal-contact label {
  color: #fff;
}
.modal-contact .btn-primary {
  border-width: 2px;
  transition: all 0.3s;
  font-weight: 600;
  background-color: #5249ff8e;
  border-color: #191729;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
}
.modal-contact .btn-primary:hover {
  border-color: #fdad00;
}
@media screen and (max-width: 576px) {
  .modal-contact {
    height: 100vh;
    border: none;
  }
}

.modal-open .container-fluid, .modal-open .container {
  -webkit-filter: blur(5px) grayscale(90%);
  filter: blur(5px) grayscale(90%);
}

.navbar {
  background-color: #070920;
}
.navbar .slogan {
  color: #fdad00;
  font-size: 10px;
  font-weight: 700;
  margin-top: -12px;
  display: block;
}
.navbar .navbar-brand {
  border-bottom: solid 2px transparent;
  font-size: 2.5rem;
}
.navbar .navbar-brand:hover {
  color: #fdad00;
  border-bottom: solid 2px transparent;
}
.navbar .nav-link:focus {
  color: #fff;
}
.navbar .dropdown-menu {
  background-color: #363461;
  border: solid 1px #fdad00;
}
.navbar .dropdown-menu .dropdown-item {
  width: fit-content;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.navbar .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  color: #fff;
}
.navbar ul {
  justify-content: right;
}
.navbar li {
  padding: 0.5rem;
}
.navbar a {
  padding: 0 !important;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  border-bottom: solid 2px transparent;
}
.navbar a span {
  color: #fdad00;
}
.navbar a:hover {
  border-bottom: solid 2px #fdad00;
  color: #fff;
}
.navbar .navbar-toggler i {
  color: #fff;
}

.draw {
  transition: color 0.25s;
}

.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: #6c63ff;
  border-right-color: #6c63ff;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: #6c63ff;
  border-left-color: #6c63ff;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: #6c63ff;
}

.meet::after {
  top: 0;
  left: 0;
}

.meet:hover::before {
  border-top-color: #6c63ff;
  border-right-color: #6c63ff;
}

.meet:hover::after {
  border-bottom-color: #6c63ff;
  border-left-color: #6c63ff;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.card {
  background-color: #191729;
  border: solid 3px #5249ff8e;
  border-radius: 2%;
}
.card h5 {
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  min-height: 72px;
}
.card ul {
  font-size: 20px;
}
.card p {
  color: #fff;
  text-align: center;
}

.card-body {
  min-height: 400px;
}
.card-body svg {
  height: auto;
  max-height: 120px;
  min-height: 120px;
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}
.card-body .btn-container {
  padding: 0;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
  bottom: 10px;
  position: absolute;
}
.card-body div {
  height: 50px;
}
.card-body div button {
  left: 50%;
  transform: translate(-50%, 0);
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  box-shadow: inset 0 0 0 2px #fdad00;
  color: #fdad00;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  font-family: "Poppins";
  font-size: 20px;
  position: absolute;
  bottom: 0;
}
.card-body div button:hover {
  color: #6c63ff;
}
.card-body div button::before,
.card-body div button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
}

footer {
  border-top: solid 2px #5249ff8e;
  padding: 20px 0;
  color: #fff;
  font-family: "Poppins";
}
footer p {
  font-weight: 200;
}
footer span {
  font-weight: 100;
  font-size: 12px;
}
footer ul {
  list-style: none;
  margin: 0;
}
footer ul li {
  display: inline;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer .social-links li {
  display: inline;
}
footer .social-links li:hover {
  opacity: 0.7;
}
footer .social-links i {
  font-size: 20px;
  padding: 5px;
  border-radius: 20%;
}
footer .social-links .fa-facebook {
  background: #3B5998;
  color: white;
}
footer .social-links .fa-twitter {
  background: #55ACEE;
  color: white;
}
footer .social-links .fa-youtube {
  background: #bb0000;
  color: white;
}
footer .social-links .fa-instagram {
  background: linear-gradient(90deg, #f2bd5c 0%, #d02674 35%, #5155c8 100%);
  color: white;
}
footer .footer-links {
  font-family: "Ubuntu";
  font-weight: 100;
  font-size: 15px;
}
footer .footer-links li a:hover {
  color: #fdad00;
}

.home-header {
  background-color: transparent;
}
.home-header .container-video {
  height: 50vh;
}
@media screen and (max-width: 576px) {
  .home-header .container-video {
    height: auto;
  }
}
.home-header video {
  margin-top: -200px;
}
@media screen and (max-width: 992px) {
  .home-header video {
    margin-top: 0;
  }
}
.home-header p {
  font-size: 30px;
}
.home-header p span {
  color: #fdad00;
}

.main-index {
  margin-top: 100px;
}
.main-index section {
  margin-bottom: 200px;
}
@media screen and (max-width: 992px) {
  .main-index section {
    margin-bottom: 80px;
  }
}
.main-index svg {
  max-height: 350px;
  height: auto;
  max-width: 450px;
  width: 100%;
  min-width: 225px;
}
@media screen and (max-width: 576px) {
  .main-index svg {
    width: 50%;
  }
}
.main-index h2 {
  font-weight: 600;
  font-family: "Tajawal";
  font-size: 45px;
  color: #fdad00;
  position: absolute;
  top: 0;
  left: 12px;
}
@media screen and (max-width: 992px) {
  .main-index h2 {
    position: static !important;
    left: 0;
    right: 0;
  }
}
.main-index #strategy-h2 {
  right: 12px;
}
.main-index p {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 400;
}
.main-index button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  box-shadow: inset 0 0 0 2px #fdad00;
  color: #fdad00;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  font-family: "Poppins";
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 12px;
}
@media screen and (max-width: 992px) {
  .main-index button {
    position: relative;
    left: 0;
    right: 0;
  }
}
.main-index #strategy-button {
  right: 12px;
  left: unset;
}
@media screen and (max-width: 992px) {
  .main-index #strategy-button {
    right: 0;
  }
}
.main-index button::before,
.main-index button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
}

.menu-section .card {
  border-radius: 0;
  transition: all 0.3s;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 0 0 0 3px #fdad00;
  position: relative;
  width: auto !important;
  max-width: 20rem !important;
}
.menu-section .card::before,
.menu-section .card::before,
.menu-section .card::after {
  border-width: 4px;
  box-sizing: inherit;
  content: "";
  position: absolute;
}
.menu-section .card:hover {
  cursor: pointer;
  background-color: #1c1a2f;
}
.menu-section .card-body h4 {
  font-size: 50px;
}

aside h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Tajawal";
}

.background-client {
  background-image: url("../media/clients-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.background-client .clients-section img {
  max-width: 150px;
  padding: 15px;
}

.get-quote p {
  font-size: 22px;
}
.get-quote button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: auto;
  padding: 10px 15px;
  box-shadow: inset 0 0 0 2px #fdad00;
  color: #fdad00;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  font-family: "Poppins";
  font-size: 20px;
  display: block;
}
.get-quote button::before,
.get-quote button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
}

.header-services {
  border: none;
}
.header-services h1 {
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 50px;
  padding-left: 25px;
}
@media screen and (max-width: 992px) {
  .header-services h1 {
    padding: 0;
  }
}
.header-services p {
  font-size: 25px;
}

.main-services .card {
  min-height: 412px;
  background-color: #191729;
  border-radius: 0;
  transition: all 0.3s;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 0 0 0 3px #fdad00;
  position: relative;
}
.main-services .card h5 {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}
.main-services .card p {
  color: #fff;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 18px;
}
.main-services .card::before,
.main-services .card::before,
.main-services .card::after {
  border-width: 4px;
  box-sizing: inherit;
  content: "";
  position: absolute;
}
.main-services .card:hover {
  cursor: pointer;
  background-color: #1c1a2f;
}

.body-portfolio {
  overflow-x: hidden;
}

.header-portfolio h1 {
  font-size: 40px;
}
.header-portfolio p {
  font-size: 20px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 20px;
  background: transparent;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fdad00;
  color: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #191729;
  border: solid 1px #fff;
  text-align: center;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #fdad00;
}

iframe {
  margin-bottom: 10px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #6c63ff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fdad00 transparent transparent;
  }
}
/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.timeline-heptagon ul li::after {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
