.home-header {
    background-color: transparent;

    .container-video {
        height: 50vh;
        @media screen and (max-width: 576px) {
            height: auto;
        }
    }

    video {
        width: 100%;
        height: auto;
        margin-top: -200px;
        @media screen and (max-width: 992px) {
            margin-top: 0;
        }
    }
    p {
        font-size: 30px;
        span {
            color: $yellow;
        }
    }
}

.main-index {
    margin-top: 100px;

    section {
        margin-bottom: 200px;

        @media screen and (max-width: 992px) {
            margin-bottom: 80px;
        }
    }

    svg {
        max-height: 350px;
        height: auto;
        max-width: 450px;
        width: 100%;
        min-width: 225px;

        @media screen and(max-width: 576px) {
            width: 50%;
        }
    }

    h2 {
        font-weight: 600;
        font-family: 'Tajawal';
        font-size: 45px;
        color: $yellow;
        position: absolute;
        top: 0;
        left: 12px;

        @media screen and(max-width: 992px) {
            position: static !important;
            left: 0;
            right: 0;
        }
    }

    #strategy-h2 {
        right: 12px;
    }

    p {
        font-family: 'Ubuntu';
        font-size: 20px;
        font-weight: 400;
    }

    button {
        a {
            text-decoration: none;
            color: $yellow;
            transition: all 0.3s;
        }
        background: none;
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 10px 15px;
        box-shadow: inset 0 0 0 2px $yellow;
        color: $yellow;
        font-size: inherit;
        font-weight: 700;
        position: relative;
        vertical-align: middle;
        font-family: "Poppins";
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 12px;
        &:hover {
            a {
                color: $blue;
            }
        }
        @media screen and(max-width: 992px) {
            position: relative;
            left: 0;
            right: 0;
        }
    }

    #strategy-button {
        @media screen and(max-width: 992px) {
            right: 0;
        }

        right: 12px;
        left: unset;
    }


    button::before,
    button::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
    }
}

.menu-section {
    .card {
        border-radius: 0;
        transition: all 0.3s;
        border: 0;
        box-sizing: border-box;
        margin: 0;
        box-shadow: inset 0 0 0 3px $yellow;
        position: relative;
        width: auto !important;
        max-width: 20rem !important;
    }

    .card::before,
    .card::before,
    .card::after {
        border-width: 4px;
        box-sizing: inherit;
        content: "";
        position: absolute;
    }

    .card:hover {
        cursor: pointer;
        background-color: #1c1a2f;
    }

    .card-body {
        h4 {
            font-size: 50px;
        }
    }
}

aside {
    h2 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Tajawal";
    }
}

.background-client {
    background-image: url("../media/clients-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .clients-section {
        img {
            max-width: 150px;
            padding: 15px;
        }
    }
}

.get-quote {
    p {
        font-size: 22px;
    }

    button {
        background: none;
        border: 0;
        box-sizing: border-box;
        margin: auto;
        padding: 10px 15px;
        box-shadow: inset 0 0 0 2px $yellow;
        color: $yellow;
        font-size: inherit;
        font-weight: 700;
        position: relative;
        font-family: "Poppins";
        font-size: 20px;
        display: block;

    }

    button::before,
    button::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
    }
}