@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

$yellow: #fdad00;
$black: #0e0e0e;
$blue: #6c63ff;
$purple: #5249ff8e;

body {
    margin: 0;
    padding: 0;
    background-color: $black;
}

.text-white {
    color: #fff;
}

.navbar {
    background-color: #0e0e0e;

    .navbar-brand {
        border-bottom: solid 2px transparent;
        font-size: 2.5rem;

        &:hover {
            color: $yellow;

            span {
                color: #fff;
            }

            border-bottom: solid 2px transparent;
        }
    }

    .nav-link:focus {
        color: #fff;
    }

    .dropdown-menu {
        background-color: #363461;
        border: solid 1px $yellow;

        .dropdown-item {
            width: fit-content;

            &:hover {
                background-color: transparent;
            }

            &:focus {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    ul {
        justify-content: right;
    }

    li {
        padding: 0.5rem;
    }

    a {
        padding: 0 !important;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 100;

        span {
            color: $yellow;
        }

        color: #fff;
        font-family: "Ubuntu";
        border-bottom: solid 2px transparent;

        &:hover {
            border-bottom: solid 2px $yellow;
            color: #fff;
        }
    }

    .navbar-toggler i {
        color: #fff;
    }
}

header {
    border-bottom: solid 2px $purple;

    img {
        width: 100%;
        max-width: 1440px;
        padding: 50px;
    }
}

main {
    margin-top: 100px;
    section {
        margin-bottom: 200px;
        @media screen and (max-width: 992px) {
            margin-bottom: 80px;
        }
    }
    svg {
        max-height: 350px;
        height: auto;
        max-width: 450px;
        width: 100%;
        min-width: 225px;

        @media screen and(max-width: 576px) {
            width: 50%;
        }
    }

    h2 {
        font-weight: 600;
        font-family: 'Tajawal';
        font-size: 45px;
        color: $yellow;
        position: absolute;
        top: 0;
        left: 12px;

        @media screen and(max-width: 992px) {
            position: static !important;
            left: 0;
            right: 0;
        }
    }

    #strategy-h2 {
        right: 12px;
    }

    p {
        font-family: 'Ubuntu';
        font-size: 20px;
        font-weight: 400;
    }

    button {
        background: none;
        border: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 10px 15px;
        box-shadow: inset 0 0 0 2px $yellow;
        color: $yellow;
        font-size: inherit;
        font-weight: 700;
        position: relative;
        vertical-align: middle;
        font-family: "Poppins";
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 12px;

        @media screen and(max-width: 992px) {
            position: relative;
            left: 0;
            right: 0;
        }
    }

    #strategy-button {
        @media screen and(max-width: 992px) {
            right: 0;
        }

        right: 12px;
        left: unset;
    }


    button::before,
    button::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
    }

    .draw {
        transition: color 0.25s;
    }

    .draw::before,
    .draw::after {
        border: 2px solid transparent;
        width: 0;
        height: 0;
    }

    .draw::before {
        top: 0;
        left: 0;
    }

    .draw::after {
        bottom: 0;
        right: 0;
    }

    .draw:hover::before,
    .draw:hover::after {
        width: 100%;
        height: 100%;
    }

    .draw:hover::before {
        border-top-color: $blue;
        border-right-color: $blue;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }

    .draw:hover::after {
        border-bottom-color: $blue;
        border-left-color: $blue;
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    }

    .meet:hover {
        color: $blue;
    }

    .meet::after {
        top: 0;
        left: 0;
    }

    .meet:hover::before {
        border-top-color: $blue;
        border-right-color: $blue;
    }

    .meet:hover::after {
        border-bottom-color: $blue;
        border-left-color: $blue;
        transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }

}

footer {
    border-top: solid 2px $purple;
    padding: 20px 0;
    color: #fff;
    font-family: "Poppins";

    p {
        font-weight: 200;
    }

    span {
        font-weight: 100;
        font-size: 12px;
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            display: inline;
        }

        li a {
            color: #fff;
            text-decoration: none;
        }
    }

    .social-links {
        li {
            display: inline;

            &:hover {
                opacity: 0.7;
            }
        }

        i {
            font-size: 20px;
            padding: 5px;
            border-radius: 20%;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }

        .fa-instagram {
            background: linear-gradient(90deg, rgba(242, 189, 92, 1) 0%, rgba(208, 38, 116, 1) 35%, rgba(81, 85, 200, 1) 100%);
            color: white;
        }
    }

    .footer-links {
        font-family: 'Ubuntu';
        font-weight: 100;
        font-size: 15px;

        li a {
            &:hover {
                color: $yellow;
            }
        }
    }
}