.header-services {
    height: 150px;
    border: none;
    h1 {
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 50px;
        padding-left: 25px;
    }
    p {
        font-size: 25px;
    }
}