.header-services {
    background-image: url("../media/blue-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    h1 {
        text-transform: uppercase;
        font-weight: 600;
    }
}