.header-services {
    border: none;

    h1 {
        text-transform: uppercase;
        font-weight: 800;
        padding-top: 50px;
        padding-left: 25px;
    }

    p {
        font-size: 25px;
    }
}

.main-services {
    .card {
        background-color: #191729;
        border: solid 3px $purple;
        border-radius: 2%;

        h5 {
            font-weight: 600;
            font-size: 30px;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            text-align: center;
        }

        .card-body {
            div {
                height: 50px;

                button {
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
}